* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.main{
    width: 100wh;
    height: 100vh;
    background-color: rgb(93, 234, 187);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainInner {
    width: 90%;
    height: 85%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.innerHead {
    width: 100%;
    height: 50px;
    padding: 0px 10px ;
    background-color: rgb(0, 135, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.score h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.score .scoreNum{
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-color: #fff;
    color: rgb(13, 127, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
}

.innerBtm{
    width: 100%;
    height: calc(100% - 50px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.innerBtm div{
    text-align: center;
    line-height: 40px;
}

.innerBtm .bubble{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}